<div class="menu-container">
    <div class="card-header col-md-12 text-center">
        <h2>Dashboard</h2>
    </div>

    {{#each opinions as |opinions|}}
	<div class="card" id="postDataMain">
		<div class="card-body">
			<h2 class="card-title"><a href="/opinions/{{id}}">{{ opinions.post_title }}</a></h2>
			<p class="card-text">{{opinions.content}}</p>
			<a href="/opinions/{{id}}" class="btn btn-secondary btn-sm">continue reading . . .</a>
		</div>
		<div class="card-header">
    		by: {{ opinions.user.username }}
  		</div>
	</div>
    {{/each}}

</div>