<div class="menu-container">
    <div class="card-header col-md-12 text-center">
        <h2>Dashboard</h2>
    </div>

    {{#each posts as |post|}}
	<div class="card" id="postDataMain">
		<div class="card-body">
			<h2 class="card-title"><a href="/post/{{id}}">{{ post.title }}</a></h2>
			<p class="card-text">{{post.body}}</p>
			<a href="/post/{{id}}" class="btn btn-secondary btn-sm">continue reading . . .</a>
		</div>
		<div class="card-header">
    		by: {{ user.name }}
  		</div>
	</div>
    {{/each}}

</div>