<div class="card">
	<div class="card-body">
		<h1 class="card-title">{{ title }}</h1>
		<p class="card-text">{{ body }}</p>
	</div>
	<div class="card-header">
		by: {{ user.name }}
	</div>
</div>

<div class="container" id="commentContainer">
	<div class="row align-items-center">
		<h2 id="commentForm">Comments:</h2>

		{{#if logged_in}}
			<div class="card">
				<div class="card-body">
					<form class="form new-comment-form">
						{{!-- remove form later --}}
						
  							<input type="text" class="form-control" id="pId" value= "{{id}}"/>
							  <textarea class="form-control" id="commentHole" placeholder="add a comment . . ."></textarea>
  							<button class="btn btn-outline-secondary" type="submit" id="button-addon2">comment</button>
					
					</form>
				</div>
			</div>
		{{else}}
			<div class="card">
				<div class="card-body">
					<form class="form new-comment-form">
						<div class="input-group mb-3">
  							<input type="text" class="form-control" id="commentHole" placeholder="please login to comment . . .">
						</div>
					</form>
				</div>
			</div>
		{{/if}}

	</div>
</div>

{{!-- COMMENTS --}}
{{!-- {{ comment.length}} --}}
  <div class="container" id="recentCommentContainer">
	  	<div class="row align-items-center">
			<h2>recent comments</h2>

			{{#each comment}}
				<div class="card mb-3" style="max-width: 550px"; id="commentCard">
					<div class="row g-0 justify-content-start">
						<div class="col-md-8">
							<div class="commentHead card-body">
								<h4 class="card-title">{{ user.name }}</h4>
								<p class="card-text" id="commentContent">{{ comment.body }}</p>
							</div>
						</div>
					</div>
				</div>
			{{/each}}
		
		</div>
  </div>
{{!-- {{/if}} --}}